{% extends "BusinessApp/base_padre.html" %}

{% block contenidoQueCambia %}

    <h1>This is <strong>ABOUT US</strong></h1>
    <h2>Bienvenidos a la comunidad más grande de amantes del cine clásico</h2>

    <p>
        La idea de esta aplicación surgió de la necesidad de generar una comunidad de amantes del cine clásico, 
        Y de generar un espacio en el cual podamos compartir ideas, opiniones, valoraciones acerca de las películas más taquilleras
        Y aquellas que hicieron historia en al industria del cine.
        Aquí además de compartir hemos generado un espacio donde podemos comprar aquellos títulos que nos hacen falta para completar nuestra colección.
        QUE LO DISFRUTEN :)
    </p>
    <h2>Acerca del creador</h2>

    <p>
        Mi nombre es Ignacio Olazábal.
Soy profesional de Ciencia Económicas, más precisamente Contador Público. Hace ya muchos años que formo parte del mundo corporativo, orientado a Pymes en el sector de consumo masivo, donde he liderado varios negocios y he formado parte de proyectos de desarrollo de marcas (Aleluya, JuanValdez) tanto en el mercado local como en el internacional.
Estoy en busca de nuevas experiencias y creo firmemente que el futuro llegó en el mundo digital.
Mi deseo es seguir mi carrera en esta industria, para lo cual me estoy preparando y este curso he decidido realizarlo en esa línea.
    </p>

{% endblock %}