{% extends "BusinessApp/base_padre.html" %}

{% block contenidoQueCambia %}

    <h1>This is our <strong>BLOG</strong></h1>

    <div class="row row-cols-6 row-cols-lg-3 align-items-stretch g-2 py-1">
        {% for p in posts %}    
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <img src="{{ p.img.url }}" style="width: 250px; height: 175px; text-align: center;" alt="" />
                        <p class="fw-light">{{p.post}}</p>                      
                    </div>
                    <h3 class="text-center  fw-bold">{{p.author}}</h2>
                    <h5 class="text-center  fw-bold">{{p.date_released}}</h2>
                </div> 
            </div> 
        {% endfor %}
    </div>
    
{% endblock %}