{% extends "BusinessApp/base_padre.html" %}

{% block contenidoQueCambia %}

    <h1>This is the form Genres</h1>

    <form method="POST" action=""> {% csrf_token %}
        <!--
            <div class="mb-3">
            <label class="form-label">Nombre de la Marca</label>
            <input type="text" class="form-control" name="name">
            </div>
            <div class="mb-3">
                <label class="form-label">Descripción de la marca</label>
                <input type="text" class="form-control" name="detail">
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Imagen de la marca</label>
                <input type="file" class="form-control" name="img">
            </div>
        -->
            <div class="mb-3 form-label">
                {{ form.as_p }}
            </div>
        <button type="submit" class="btn btn-outline-success">Submit</button>
      </form>

{% endblock %}