<div style="float: right" class="text-center">
<h4>Este es el resumen de tu ticket</h4>
<table class="table table-bordered"> 

  {% if request.session.ticket.items %}
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Sub-Total</th>
    </tr>
  </thead>
  <tbody>
        {% for key, value in request.session.ticket.items %}
        <tr>
            <th> {{forloop.counter}} </th>
            <th> {{value.title}} </th>
            <th> 
                <a href="{% url 'TicketApp:add_movie' value.movie_id %} ">+</a>
                <a href="{% url 'TicketApp:subtract_movie' value.movie_id %} ">-</a>
                {{value.quantity}} 
            </th>
            <th> {{value.price}} </th>
        </tr>
        {% endfor %}
    {% else %}
    <div class="col">        
            <p class="alert alert-danger">NO HAY MOVIES</p>
    </div>    
  {% endif %}
  </tbody>
</table>
<p>El importe de tu compra es: {{ total_amount_ticket }}</p>
<form method="POST" action="/businessApp/ticketet/"> {% csrf_token %}
  {%if request.user.is_authenticated %}
  <a href="{% url 'ticketet' %}" >
      <button type="button" class="btn btn-success">
          Finalizar tu compra
      </button>
  </a>
  {% else %}
  <div class="col">        
          <p class="alert alert-danger">DEBES ESTAR LOGUEADO</p>
  </div> 
  {% endif %}
</form>
</div>

